{% extends 'CoreBundle:layout:2col.html.twig' %}

{%  block header %}
    Edit user
{% endblock %}

{% block main %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Save</button>
    {{ form_end(edit_form) }}

{% endblock %}

{% block nav %}

    <ul>
        <li>
            <a href="{{ path('user_index') }}"><i class="material-icons" role="presentation">arrow_back</i>Back to users</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Delete user</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
