{% extends 'CoreBundle:layout:2col.html.twig' %}

{%  block header %}
    Users
{% endblock %}

{% block main %}

    <table class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th>Id</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td class="mdl-data-table__cell--non-numeric">{{ user.name }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ user.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {%  else %}
            <tr>
                <td colspan="4" class="no-data">There are no users yet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block nav %}

    <ul>
        <li>
            <a href="{{ path('user_new') }}"><i class="material-icons" role="presentation">add</i>Create a user</a>
        </li>
    </ul>

{% endblock %}
